{
    debug
}

:80 {
    redir https://{host}{uri} permanent
}

:443 {
    tls /etc/caddy/certs/localhost.crt /etc/caddy/certs/localhost.key
    
    root * /usr/share/caddy
    file_server
    
    log {
        output stderr
        format console
        level INFO
    }
}
